<!doctype html>
<html lang="es">
<head>
  <title>Inicio</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>

    <div class="container">

    <br>
    <h1 class="text-center">Seccion de Menu</h1>
    <br>





<!-- --------------------------------------------------------------- -->


  <div class="row row-cols-1 row-cols-md-4 g-8" id="grid">

    <div class="col">
      <div class="card">
        <img src="https://img.freepik.com/vector-premium/mujer-feliz-compras-ilustracion-dibujos-animados-supermercado_338371-216.jpg?w=826" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Productos</h5>
          <p class="card-text">Aquí se encuentra la lista de los productos, se puede editar y eliminar</p>
          <a class="btn btn-outline-info" href="/productos/lista" role="button">Lista de Productos</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="https://img.freepik.com/vector-gratis/gerentes-ventas-laptops-tabla-crecimiento-crecimiento-ventas-concepto-gestion-contabilidad-promocion-ventas-operaciones-sobre-fondo-blanco_335657-1704.jpg?w=900&t=st=1667816576~exp=1667817176~hmac=a6faf68eebd0f8f69e26a5af9c4e4fb444681b51e6cedc8bc6d531d560c92271" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Registro de Ventas</h5>
          <p class="card-text">Aquí se encuentra la lista de las ventas</p>
          <a class="btn btn-outline-info" href="/ventas/lista" role="button">Lista de Ventas</a>
        </div>
      </div>
    </div>

    <div class="col">

      <div class="card">
        <img src="https://static.vecteezy.com/system/resources/previews/002/223/407/original/invoice-illustration-concept-design-vector.jpg" class="card-img-top" alt="..." >
        <div class="card-body">
          <h5 class="card-title">Realizar una Ventas</h5>
          <p class="card-text">Aquí se realizan las ventas o la facturación de los clientes    </p>
          <a class="btn btn-outline-info" href="/ventas/new" role="button">Ventas</a>
        </div>
      </div>

    </div>


    <div class="col">
      <div class="card">
        <img src="https://img.freepik.com/vector-gratis/concepto-retroalimentacion-plana-ilustrado_23-2148939958.jpg?w=996&t=st=1667815638~exp=1667816238~hmac=d38772c30fd6e953b999ef29c3b610a349f3123a3d252282d7422533f2d28326" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mis Clientes</h5>
          <p class="card-text">Aquí se encuentra la lista de clientes, puede agregar nuevos o editar</p>
          <a class="btn btn-outline-info" href="/client/lista" role="button">Lista de Clientes</a>
        
        </div>
      </div>
    </div>



  </div>
  <br>
  <div class="row row-cols-1 row-cols-md-4 g-8">

    <div class="col">
      <div class="card">
        <img src="https://img.freepik.com/vector-gratis/ilustracion-vector-concepto-abstracto-discriminacion-genero-sexismo-roles-estereotipos-genero-desigualdad-lugar-trabajo-habilidades-capacidades-derechos-mujer-metafora-abstracta-mercado-laboral_335657-1940.jpg?w=740&t=st=1667816838~exp=1667817438~hmac=fcdf6ce0e503d004893f75309594562b6e9dca3b8ce2cecf2fe6095de6252634" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ganancias</h5>
          <p class="card-text">Aquí se encuentra la cantidad de dinero que se gana</p>
          <a class="btn btn-outline-info" href="/productos/lista" role="button">Ganancias</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="https://img.freepik.com/vector-gratis/pareja-profesionales-analizando-graficos_74855-4393.jpg?w=1060&t=st=1667817683~exp=1667818283~hmac=47fec7082b0f42d9ce00074dab750f85fadc816b7add1a2e417345677c37ac7f" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Reportes</h5>
          <p class="card-text">Aquí se encuentra los detalles de los movimientos del negocio</p>
          <a class="btn btn-outline-info" href="/productos/lista" role="button">Reportes</a>
        </div>
      </div>
    </div>

    <div class="col">

      <div class="card">
        <img src="https://img.freepik.com/vector-gratis/trabajadores-almacen-que-llevan-registros-cajas_74855-11065.jpg?w=996&t=st=1667817976~exp=1667818576~hmac=613b596599ba434c406735702f469582fb8725db9d90f33f9cf7213fb1e0d910" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Inventario</h5>
          <p class="card-text">Aquí es donde se registran y contabilizan los productos</p>
          <a class="btn btn-outline-info" href="/productos/inventario" role="button">Ventas</a>
        </div>
      </div>

    </div>


    <div class="col">
      <div class="card">
        <img src="https://img.freepik.com/vector-gratis/servicio-envio-mundial-distribucion-internacional-logistica-colaborativa-socios-cadena-suministro-concepto-optimizacion-costos-flete-ilustracion-aislada-bluevector-coral-rosado_335657-1757.jpg?w=996&t=st=1667818308~exp=1667818908~hmac=826fb22664b3391bc0b0836b58447b59a875fa85496d76588afc3bd2af190f73" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Proveedores</h5>
          <p class="card-text">Aquí es donde se registran los proveedores que abastecen el negocio</p>
          <a class="btn btn-outline-info" href="/productos/ventas" role="button">Proveedores</a>
        
        </div>
      </div>
    </div>



  </div>


{% include 'sitio/pie.html' %}