{% include 'sitio/cabecera.html' %}
<br>
<center>          
<br>
    <div class="h4 pb-2 mb-4 text-primary border-bottom border-primary">
        Facturación
      </div>
</center>
<br>

<div class="container is-fluid">


<br>
    <div class="row">
        <div class="col-sm-2 col-lg-2">
            <div class="card border-light mb-3 border-0">
                <img style="width: 100; height: 100;" src="https://github.com/DanneryOrtega/api_rest-parcial3/blob/main/bg.png?raw=true" class="rounded float-left" alt="...">
            </div>
        </div>
        <div class="col-sm-1 col-lg-1">
            <div class="card border-light mb-3 border-0">
            </div>
        </div>
        
        <div class="col-sm-6">
            <div class="card border-light mb-3 border-0">
                <div class="text-center">
        
                    <h3>SuperMercado 3 Esquinas</h3>
                    <h6>NIT 22.339.988-0</h6>
                    <h6>Carrera 29 con Calle 13</h6>
                    <h6>Tel: 413414</h6>
                    <h6>Puerto Asís, Colombia</h6>
                </div>
            </div>
        </div>
    </div>

<!-- titulo -->
    

            <!-- table card -->
            <div class="row">
                <div class="col-sm-6">
                  <div class="card border-light mb-3 border-0">
                    <div class="card-body ">
                        
                    </div>
                    </div>
                </div>
                <div class="col-sm-6">
                  <div class="card border-light mb-3 border-0">
                    <div class="card-body ">
                        <table style="border: hidden" class="table border-light text-center" id= "table_id" width="50%">
                            <thead style="border: hidden">
                                <tr>
                                  <th scope="col">N° Factura</th>
                                  <th scope="col"></th>
                                </tr>
                              </thead>
                            <tbody>
                                <tr>
                                    <td>123</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                  </div>
           
                </div>
            </div>

    <!-- table card -->
    <div class="row">
        <div class="col-sm-6">
          <div class="card border-light mb-3 border-0">
            <div class="card-body ">
                <table class="table  table-light" id= "table_id" width="50%">
                    <tbody >
                        <tr>
                            <td class="table-primary" width="10" >Señores</td>
                            <td></td>
                            
                        </tr>
                        <tr>
                            <td class="table-primary">Nit</td>
                            <td></td>
                            <td class="table-primary" width="10">Teléfono</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="table-primary" >Dirección</td>
                            <td></td>
                            <td class="table-primary">Ciudad</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
        <div class="col-sm-6">
          <div class="card border-light mb-3 border-0">
            <div class="card-body">
                <!-- color -->
                <table class="table-borderless">
                    <tbody>
                        <tr>
                            <td style="background-color: #ffff;"></td> 
                        </tr>
                        <tr >
                            <td style="background-color: #ffff;"></td> 
                        </tr>
                        <tr >
                            <td style="background-color: #ffff;"></td> 
                        </tr>
                        <tr >
                            <td style="background-color: #ffff;"></td> 
                        </tr>
                        <tr>
                            <td style="background-color: #ffff;"></td> 
                        </tr>
                        <tr >
                            <td style="background-color: #ffff;"></td> 
                        </tr>
                        <tr >
                            <td style="background-color: #ffff;"></td> 
                        </tr>
                        <tr >
                            <td style="background-color: #ffff;"></td> 
                        </tr>
                        <tr >
                            <td style="background-color: #ffff;"></td> 
                        </tr>
                        <tr >
                            <td style="background-color: #ffff;"></td> 
                        </tr>
                        <tr >
                            <td style="background-color: #ffff;"></td> 
                        </tr>
                        <tr >
                            <td style="background-color: #ffff;"></td> 
                        </tr>
                        <tr >
                            <td style="background-color: #ffff;"></td> 
                        </tr>
                        <tr >
                            <td style="background-color: #ffff;"></td> 
                        </tr>
                        <tr >
                            <td style="background-color: #ffff;"></td> 
                        </tr>
                        <tr >
                            <td style="background-color: #ffff;"></td> 
                        </tr>
                        <tr >
                            <td style="background-color: #ffff;"></td> 
                        </tr>
                        <tr >
                            <td style="background-color: #ffff;"></td> 
                        </tr>
                    </tbody>
                </table>
                <table class="table  table-light "   id= "table_id" width="10" >
                    <tbody >
                        
                        <tr>
                            <td class="table-primary" width="200" >Fecha de facturación</td>
                            <td></td> 
                        </tr>
                        <tr>
                            <td class="table-primary" width="200">Fecha de Vencimiento</td>
                            <td></td>
                        </tr>

                    </tbody>
                </table>
                
            </div>
          </div>
        </div>
      </div>


 
    <br>
    <table class="table  table-light table-hover" id= "table_id" >
            <thead class="justify-center table-primary">    
                <tr>
                    <th class="text-center">Código</th>
                    <th class="text-center">Descripcion</th>
                    <th class="text-center">Cantidad</th>
                    <th class="text-center">Vr. Unitario</th>
                    <th class="text-center">Descuento</th>
                    <th class="text-center">Impuesto</th>
                    <th class="text-center">Vr. Total</th>
                    <th class="text-center"></th>
                </tr>
            </thead>
        <tbody class="table-group-divider">    
            <!-- {%for venta in ventas%} -->
            <tr>
                <!-- <td>{{venta['fecha']}}</td>
                <td>{{venta['id_cd_prod']}}</td>
                <td>{{venta['cantidad']}}</td>
                <td>{{venta['val_unitario']}}</td>
                <td>{{venta['descuento']}}</td>
                <td>{{venta['id_proveedor']}}</td>
                <td>{{venta['impuesto']}}</td> -->
                
                <td width="150" class="text-center">

                        <a class="btn btn-outline-warning" href="/ventas/new">  
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                            </svg>   
                        </a>
                        
                        <a class="btn btn-outline-danger" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                            </svg>
                        </a>

                </td>
            </tr>
            <!-- {%endfor%} -->
        </tbody>
    </table>
    
        <!-- table card -->
        <div class="row">
            <div class="col-sm-6">
              <div class="card border-light mb-3 border-0">
                <div class="card-body ">
                    <table class="table" id= "table_id" width="50%">
                        <thead style="border: hidden">
                            <tr>
                              <th scope="col">Valor en Letras</th>
                              <th scope="col">Condiciones de Pago</th>
                            </tr>
                          </thead>
                        <tbody style="border: hidden">
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
            <div class="col-sm-6">
              <div class="card border-light mb-3 border-0">
                <div class="card-body">
                    <!-- color -->
                    <table class="table-borderless">
                        <tbody>
                            <tr>
                                <td style="background-color: #ffff;"></td> 
                            </tr>
                            <tr >
                                <td style="background-color: #ffff;"></td> 
                            </tr>
                            <tr >
                                <td style="background-color: #ffff;"></td> 
                            </tr>
                            <tr >
                                <td style="background-color: #ffff;"></td> 
                            </tr>
                            <tr>
                                <td style="background-color: #ffff;"></td> 
                            </tr>
                            <tr >
                                <td style="background-color: #ffff;"></td> 
                            </tr>
                            <tr >
                                <td style="background-color: #ffff;"></td> 
                            </tr>
                            <tr >
                                <td style="background-color: #ffff;"></td> 
                            </tr>
                            <tr >
                                <td style="background-color: #ffff;"></td> 
                            </tr>
                            <tr >
                                <td style="background-color: #ffff;"></td> 
                            </tr>
                            <tr >
                                <td style="background-color: #ffff;"></td> 
                            </tr>
                            <tr >
                                <td style="background-color: #ffff;"></td> 
                            </tr>
                            <tr >
                                <td style="background-color: #ffff;"></td> 
                            </tr>
                            <tr >
                                <td style="background-color: #ffff;"></td> 
                            </tr>
                            <tr >
                                <td style="background-color: #ffff;"></td> 
                            </tr>
                            <tr >
                                <td style="background-color: #ffff;"></td> 
                            </tr>
                            <tr >
                                <td style="background-color: #ffff;"></td> 
                            </tr>
                            <tr >
                                <td style="background-color: #ffff;"></td> 
                            </tr>
                        </tbody>
                    </table>
                    <table class="table  table-light "   id= "table_id" width="10" >
                        <tbody >
                            
                            <tr>
                                <td class="table-primary h6" width="200" >
                                    Total Bruto
                                </td>
                                <td></td> 
                            </tr>
                            <tr>
                                <td class="table-primary" width="200">Iva 19%</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="table-primary h6" width="200" >
                                    Total a Pagar
                                </td>
                                <td></td> 
                            </tr>
    
                        </tbody>
                    </table>
                    
                </div>
              </div>
            </div>
          </div>

    <a name="" id="" class="btn btn-primary" href="/menu" role="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
        </svg>
        
    </a>


</div>

{% include 'sitio/pie.html' %}