
<style>
    #color_range {

        background: linear-gradient(blue,#1466c3,#3b8eed);
        border-radius:22px;
    }

</style>

{% include 'sitio/cabecera.html' %}
    <br>

        <div class="col-xs-12 text-center" >
            <h1>Crear Productos</h1>
        </div>
 
    <!-- bg-info -->
    <div style="width: 450px;" class="container p-5 my-5  text-white" id="color_range">
        <form action="/productos/lista" >
            <div class="form-group">
                <label for="codigo" class="form-label">Código:</label>
                <input  type="text"  id="codigo" name="codigo" class="form-control" required>
            </div>
            
            <div class="form-group">
                <label for="nombre" class="form-label">Nombre:</label>
                <input type="text"  id="nombre" name="nombre" class="form-control" required>
            </div>
            
            <div class="form-group">
                <label for="precio" class="form-label">Precio:</label>
                <input type="text"  id="precio" name="precio" class="form-control" required>
            </div>
            
            <div class="form-group">
                <label for="cantidad" class="form-label">Cantidad:</label>
                <input type="text"  id="cantidad" name="cantidad" class="form-control" required>
            </div>
            
            <br>
            
            <center>
            
            <div class="mb-3">                      
                <input type="submit" value="Guardar"class="btn btn-success" name="registrar">
                <a href="/productos/lista" class="btn btn-danger">Cancelar</a>           
            </div>
            
            </center>
            
        </form>

    </div>

{% include 'sitio/pie.html' %}